*
!config
!config/*
!snakemake_profiles
!snakemake_profiles/**
!workflow/scripts
!workflow/scripts/*
!workflow/scripts/common
!workflow/scripts/common/*
scripts/.snakemake*
!**Snakefile
!**config.yaml
!**samples.tsv
!workflow
!workflow/*
!workflow/envs
!workflow/envs/*
!environment.yaml
!LICENSE
!README.md
!workflow/rules
!workflow/rules/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!**snakemake.sbatch
!**cluster-config.json
*.swp
